<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<psp>
<port>1081</port>
<passwords>
<password user="admin">admin</password>
</passwords>
</psp>
<xmpp>
<port>1080</port>
<transformation enabled="true"/>
<silenced enabled="true">
<user name="root"/>
</silenced>
<servers>
<default>
<address>localhost</address>
<ip>5222</ip>
</default>
<user name="root">
<address>localhost</address>
<port>5222</port>
</user>
</servers>
</xmpp>
</configuration>
